<%- include("header.ejs"); %>
<title>About us</title>
</head>

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700&display=swap" rel="stylesheet">
<body>
  <div class="jumbotron jumbotron-fluid">
    <a href="/homepage" class="fas fa-arrow-left"></a>
  <div class="container">
        <h1>About us</h1>
        <p class="lead">To let you know, who we are and what we do.</p>
  </div>
</div>
<div class="container-fluid">
  <h2>Who are we?</h2>
  <p>Our company might be new in the market, but we are not. We have been dealing with the market for more than 25 years and have a strong grasp of it. We are the link between the two ends of the market.</p>
  <p>Aarya traders aims to provide you with all the needs for your business. Our company can provide a wide variety of products for your business.</p>
  <p>Our company is expanding the horizons of our business.</p>
</div>
<div class="container-fluid">
  <h2>Our motto</h2>
  <p>Our motto is clear and simple. We want to become your one stop for all the trading needs.</p>
  <p>We provide you with products for your business and also we provide you the business by trying to sell your product. This makes us a single stop solution for your trading needs.</p>
</div>
<script src="https://kit.fontawesome.com/08f96cfcee.js" crossorigin="anonymous"></script>
</body>

</html>
