<%- include("header.ejs"); %>
<title> Our products</title>
</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <a href="/homepage" class="fas fa-arrow-left"></a>
  <div class="container">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<h1>Our Products</h1>
<p class="lead">Products which can be trusted without a doubt.</p>
</div>
</div>
<div class="container-fluid">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#" onclick="$('.prod').hide(); $('#mask').fadeIn(1500);">Mask Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" onclick="$('.prod').hide(); $('#dairy').fadeIn(1500);">Dairy Products</a>
    </li>
  </ul>
</div>

<div class="container-fluid prod" id="mask">
  <div class="row">
<div class="col-12">
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div id="healthplusmask-card" class="carousel slide carousel-fade" data-interval="2000" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="/images/products/mask_material/mask/front-cover.jpg" class="d-block w-100" onclick="window.open(this.src)">
  </div>
  <div class="carousel-item">
    <img src="/images/products/mask_material/mask/back-cover.jpg" class="d-block w-100" onclick="window.open(this.src)">
  </div>
  <div class="carousel-item">
    <img src="/images/products/mask_material/mask/n95-mask.jpg" class="d-block w-100" onclick="window.open(this.src)">
  </div>
  <div class="carousel-item">
    <img src="/images/products/mask_material/mask/n95-mask-2.jpg" class="d-block w-100" onclick="window.open(this.src)">
  </div>
  <div class="carousel-item">
    <img src="/images/products/mask_material/mask/all.jpg" class="d-block w-100" onclick="window.open(this.src)">
  </div>
  <div class="carousel-item">
    <img src="/images/products/mask_material/mask/healthplusbox.jpeg" class="d-block w-100" onclick="window.open(this.src)">
  </div>
</div>
<a class="carousel-control-prev" href="#healthplusmask-card" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#healthplusmask-card" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Health Plus N95 mask</h5>
        <p class="card-text">This product is a SITRA approved 5 layer FFP2 mask. Export quality N95 mask. <strong>Manufactured and marketed by Aarya Traders.</strong></p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-12">
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div id="gone-card" class="carousel slide carousel-fade" data-interval="2000" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="/images/products/mask_material/mask/gone.jpeg" class="d-block w-100" onclick="window.open(this.src)">
  </div>
  <div class="carousel-item">
    <img src="/images/products/mask_material/mask/gonebox.jpeg" class="d-block w-100" onclick="window.open(this.src)">
  </div>
</div>
<a class="carousel-control-prev" href="#gone-card" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#gone-card" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">G-One N95 mask</h5>
        <p class="card-text">Premium quality N95 mask, follows all medical specifications. <strong>Manufactured and marketed by Aarya Traders.</strong></p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-12">
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div id="ventmask-card" class="carousel slide carousel-fade" data-interval="2000" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="/images/products/mask_material/mask/vent.jpeg" class="d-block w-100" onclick="window.open(this.src)">
  </div>
</div>
</div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Vent N95 mask</h5>
        <p class="card-text">N95 mask with all the specifications followed. <strong>Manufactured and marketed by Aarya Traders.</strong></p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-12">
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div id="nosepin-card" class="carousel slide carousel-fade" data-interval="2000" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="/images/products/mask_material/nosepin/front.jpg" class="d-block w-100" onclick="window.open(this.src)">
  </div>
  <div class="carousel-item">
    <img src="/images/products/mask_material/nosepin/side.jpg" class="d-block w-100" onclick="window.open(this.src)">
  </div>
</div>
<a class="carousel-control-prev" href="#nosepin-card" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#nosepin-card" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Nose pin for N95 mask</h5>
        <p class="card-text">Premium quality nose pin for providing support to N95 mask.</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-12">
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div id="hotaircotton-card" class="carousel slide carousel-fade" data-interval="2000" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="/images/products/mask_material/hotaircotton/90gsm.png" class="d-block w-100" onclick="window.open(this.src)">
  </div>
  <div class="carousel-item">
    <img src="/images/products/mask_material/hotaircotton/60gsm.jpg" class="d-block w-100" onclick="window.open(this.src)">
  </div>
</div>
<a class="carousel-control-prev" href="#hotaircotton-card" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#hotaircotton-card" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Hot air cotton for N95 mask</h5>
        <p class="card-text">Export quality hot air cotton for providing a filtration layer to your N95 mask.</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-12">
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div id="filter-card" class="carousel slide carousel-fade" data-interval="2000" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="/images/products/mask_material/filter/filter.jpg" class="d-block w-100" onclick="window.open(this.src)">
  </div>
  <div class="carousel-item">
    <img src="/images/products/mask_material/filter/filterall.jpeg" class="d-block w-100" onclick="window.open(this.src)">
  </div>
</div>
<a class="carousel-control-prev" href="#filter-card" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#filter-card" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Exhalation valve/filter for N95 mask</h5>
        <p class="card-text">Best quality filter for N95 mask available in a variety of colors.</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-12">
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div id="elastic-card" class="carousel slide carousel-fade" data-interval="2000" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="/images/products/mask_material/elastic/elastic.jpg" class="d-block w-100" onclick="window.open(this.src)">
  </div>
</div>
</div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Elastic for N95 mask</h5>
        <p class="card-text">Export quality elastic for ear loop for your N95 mask. Available in a wide variety of materials and colors.</p>
      </div>
    </div>
  </div>
</div>
</div>

</div>
</div>


<div class="container-fluid prod" id="dairy">
<div class="col-12">
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div id="madhurmghee-card" class="carousel slide carousel-fade" data-interval="2000" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="/images/products/dairy/madhurm-ghee.jpeg" class="d-block w-100" onclick="window.open(this.src)">
  </div>
</div>
</div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Madhurm Ghee</h5>
        <p class="card-text">Premium granular pure ghee. Available in 15Kg tin and 1Kg tetra pack.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<script type="text/javascript">
  $('.prod').hide();
  $('#mask').fadeIn(3000);
</script>
<script src="https://kit.fontawesome.com/08f96cfcee.js" crossorigin="anonymous"></script>
</body>

</html>
