h1 {
  font-family: 'Lobster', cursive;
  animation: blow forwards;
  animation-duration: 2s;
  color: #00bbf0;
}

.nav-link {
  font-size: 1.5rem;
}

.container {
  text-align: center;
}

.card {
  margin: 20px auto;
}

.card-text {
  font-size: 1rem;
}

button  {
  margin-top: 10px; 
}

body {
  background-color: white;
}

p {
  font-size: 1.5rem;
}

.jumbotron a {
  padding-left: 40px;
  font-size: 2rem;
  color: #005792;
}

a:hover {
  text-decoration: none;
}

.container-fluid {
  padding: 1% 17%;
  font-family: 'Noto Sans JP', sans-serif;
}

.container-fluid h2 {
  font-size: 3rem;
  font-weight: 500;
}

.lead {
  color: #005792;
  font-style: oblique;
  font-weight: bold;
}

.jumbotron {
  background-color: #bbe1fa;
}

@keyframes blow {
  0% {font-size: 0rem;}
  100% {font-size: 6rem;}
}
